footer.footer 
  .footer__logo 
    img(src='/img/logo-green.png' alt='Natours logo')
  ul.footer__nav 
    li: a(href='/about') About us
    li: a(href='/download-apps') Download apps
    li: a(href='/become-guide') Become a guide
    li: a(href='/careers') Careers
    li: a(href='/contact') Contact
  //- p.footer__copyright &copy; by Milos Ilic