extends base

block content 
  main.main
    section.section-header
      .header__hero
        .header__hero-overlay &nbsp;
        img.header__hero-img(src='/img/tours/tour-2-cover.jpg', alt='Download Apps Hero')
      .heading-box
        h1.heading-primary
          span Download Our Apps
        .heading-box__group
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-smartphone')
            span.heading-box__text Mobile & Desktop
          .heading-box__detail
            svg.heading-box__icon
              use(xlink:href='/img/icons.svg#icon-star')
          span.heading-box__text 4.8/5 Rating

    
    section.section-cta
      .cta
        .cta__img.cta__img--logo
          img(src='/img/logo-white.png', alt='Natours logo')
        .cta__content
          h2.heading-secondary Ready to get started?
          p.cta__text
            | Download our app today and start planning your next adventure. 
            | Join thousands of adventurers who trust Natours for their journey.
          .download-buttons
            a.btn.btn--green.span-all-rows(href='#', target='_blank') Download Now!
    
